<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smog level in your city</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://kit.fontawesome.com/723297a893.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/animation.js" defer></script>
</head>
<body>
    <div class="main-bar">

    </div>
    <div class="main-panel">
        <div class="search-panel">
            <div class="search-bar">
                <i class="fas fa-search"></i>
                <input  class="search-bar-input" placeholder="Search city">
            </div>
        </div>
        <div class="map-panel">
            Something 1
        </div>
    </div>
</body>
</html>