<html .... xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smog level in your city</title>
    <script src="https://kit.fontawesome.com/723297a893.js" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/animation.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/map.js}" defer></script>
    <link th:href="@{/stylesheet/style.css}" rel="stylesheet" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
</head>
<body>
    <div class="main-bar">

    </div>
    <div class="main-panel">
        <div class="search-panel">
            <div class="search-bar">
                <i class="fas fa-search"></i>
                <input  class="search-bar-input" placeholder="Search city">
            </div>
            <ul>
                <li>Gdynia</li>
                <li>Limanowa</li>
                <li>Kraków</li>
                <li>Warszawa</li>
                <li>Nowy Sącz</li>
                <li>Gdańsk</li>
                <li>Wrocław</li>
                <li>Poznań</li>
            </ul>
        </div>
        <div  class="map-panel">
            <div id="map-layer" class="map-layer"></div>
        </div>
    </div>
</body>
</html>